@use '@/shared/styles/variables.scss' as *;

.InputField {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.InputField_label {
  font-weight: 600;
  font-size: clmp(.9rem, 1.2rem);
  color: var(--ff-color);
}