{
  "printWidth": 100,
  "singleQuote": true,
  "semi": false,
  "arrowParens": "avoid",
  "singleAttributePerLine": false,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tailwindFunctions": ["clsx", "cn"]
}
