//==============================
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
$ff-base: 'Manrope', sans-serif;
$ff-alt: 'Inter', sans-serif;

//==============================
// Colors
:root {
  --bg-color: #0c0c0c;
  --bg-cont-color: #121212;
  --bg-m-color: #101010;
  --bg-l-color: #121212;
  --bg-l-color-hover: #252525;
  --bg-gray-color: #1b1b1b;

  --bg-accent-color: #5d00ff;
  --bg-accent-color-hover: #5d00ffbe;

  --bg-input-color: #171717;
  --bg-input-color-hover: #1a1a1a;
  --icon-input-color: brightness(0) saturate(100%) invert(19%) sepia(10%) saturate(7%)
    hue-rotate(353deg) brightness(102%) contrast(88%);

  --bg-header: #0c0c0ccb;
  --bg-accent-color-opacity: #5d00ffc5;

  --bg-btn-hover: rgba(56, 56, 56, 0.5);
  --bg-accent-btn-hover: #5d00ffd3;

  --ff-color: #fff;
  --ff-color-accent: #5d00ff;
  --ff-muted-color: rgba(255, 255, 255, 0.85);
  --ff-silent-color: rgba(255, 255, 255, 0.5);

  --border-color: rgba(55, 55, 55, 0.5);
  --border-color-hover: rgba(77, 77, 77, 0.5);
  --line-color: #37373780;

  --outline-color: #ffffff18;

  --p-light-color: #ffffff7c;

  --error-color: #e74c3c;

  --bg-select-exchange: #171717;
  --border-select: rgba(255, 255, 255, 0.05);
}

[data-theme='light'] {
  --bg-color: #faf9f9;
  --bg-cont-color: #f6f6f6;
  --bg-m-color: #fff;
  --bg-l-color: #f0f0f0;
  --bg-l-color-hover: #e9ddfd;
  --bg-gray-color: #e7e7e7;
  --bg-input-color: #171717;
  --bg-accent-color: #8945ff;
  --bg-btn-hover: #e9ddfd;
  --bg-accent-btn-hover: rgba(123, 48, 253, 0.827);
  --bg-header: #faf9f9ce;
  --bg-accent-color-opacity: #8945ffb9;

  --icon-input-color: brightness(0) saturate(100%) invert(95%) sepia(0%) saturate(52%)
    hue-rotate(166deg) brightness(94%) contrast(84%);

  --ff-color: #0c0c0c;
  --ff-color-accent: #8945ff;
  --ff-muted-color: #373737;
  --ff-silent-color: rgba(0, 0, 0, 0.5);

  --border-color: none;
  --border-color-hover: none;
  --line-color: #b3b3b340;

  --outline-color: #30303018;

  --p-light-color: #0c0c0c;

  --bg-select-exchange: #f0f0f0;
  --border-select: rgba(0, 0, 0, 0.1);
}

//==============================
// Adaptive container
$container-size: clamp(20px, 8.333vw, 160px);

@mixin padding-container($psize) {
  $base: clamp(20px, 10vw, 200px);

  @for $i from 1 through 100 {
    $width: 250 + (50 * $i);
    $window_size: 1920 + (100 * $i);

    @media (min-width: #{$window_size - 99}px) and (max-width: #{$window_size}px) {
      & {
        padding: $psize ($width + 0px);
      }
    }
  }

  @media (max-width: 1920px) {
    padding: $psize $base;
  }

  @media (max-width: 1920px) {
    padding: $psize $base;
  }

  @media (max-width: 530px) {
    padding: $psize 1rem;
  }
}

$features_adaptive_point: 900px;
$bp_mobile: 900px;
$bp_small: 400px;

//==============================
// Transitions
$defl-transit: 0.4s ease-in-out;
$block_split_distance: clamp(3rem, 3rem + 3vw, 8rem);

//==============================
// Flex shortcut
@mixin flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

//==============================
// Adaptive
@mixin header-hide {
  @media (max-width: 1500px) {
    display: none;
  }
}

@function clmp($min_size, $max_size) {
  $value-in-rem: $max_size / 1rem;
  $preferred_size: #{$value-in-rem}vw;

  @return clamp($min_size, $preferred_size, $max_size);
}

// Адаптивные REM
@function arem($max_size_value) {
  $max_size: null;
  @if type-of($max_size_value) == number and unitless($max_size_value) {
    $max_size: $max_size_value + 0rem;
  } @else {
    $max_size: $max_size_value;
  }
  $value-in-rem: $max_size / 1rem;
  $vw-size: $value-in-rem + 0;
  $preferred_size: #{$vw-size}vw;

  @return clamp(calc($max_size / 2), $preferred_size, $max_size);
}

//==============================
// Change theme btn
@mixin change-theme-button {
  @media (max-width: 1500px) {
    display: none;
  }
  position: relative;
  svg {
    position: absolute;
    height: 1.8rem;
    width: 1.8rem;
    transition: $defl-transit;
    cursor: pointer;
    fill: transparent;
    stroke: var(--ff-color);
    &:hover {
      fill: var(--ff-color);
    }
  }
}

@mixin change-theme-button-states {
  [data-theme='light'] {
    .theme_icon {
      svg {
        &:nth-child(1) {
          opacity: 0;
          transform: rotate(180deg);
          z-index: 0;
        }
      }
    }
  }

  [data-theme='dark'] {
    .theme_icon {
      svg {
        &:nth-child(2) {
          opacity: 0;
          transform: rotate(-180deg);
          z-index: -1;
        }
      }
    }
  }
}

//==============================
// Button
@mixin default-btn {
  gap: 10px;
  background-color: var(--bg-l-color);
  outline: 1px solid var(--border-color);
  border-radius: 0.8rem;
  height: 100%;
  min-width: 9rem;
  transition: $defl-transit;

  svg {
    padding-top: 0.5px;
    height: 0.9rem;
    transform-origin: center center;
    transition: $defl-transit;

    path {
      transition: 0.6s ease-in-out;
    }
  }

  &:hover {
    background-color: var(--bg-btn-hover);
    outline-color: var(--border-color-hover);

    svg {
      transform: rotate(180deg);
      path {
        stroke: var(--bg-accent-color);
      }
    }
  }

  &:active {
    svg {
      path {
        transition:
          all $defl-transit,
          stroke 0.1s ease-in-out;
        stroke: var(--ff-color);
      }
    }

    transition:
      all $defl-transit,
      filter 0.1s ease-in-out;
    filter: brightness(1.5);
  }
}

// Button accent
@mixin accent-btn {
  background-color: var(--bg-accent-color);
  border-radius: 0.8rem;
  height: 100%;
  min-width: 9rem;
  transition: $defl-transit;
  color: white;
  overflow: hidden;

  &:hover {
    background-color: var(--bg-accent-btn-hover);
  }

  &:active {
    transition:
      all $defl-transit,
      filter 0.1s ease-in-out;
    filter: brightness(1.5);
  }
}

// Button exchange
@mixin exchange-btn {
  $exchange_btn_size: clamp(48px, 4vw + 32px, 75px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  width: 100%;
  border-radius: 0.8rem;
  min-height: $exchange_btn_size;
  height: $exchange_btn_size;
  background-color: white;
  gap: 1rem;
  z-index: 1;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  h4 {
    color: var(--bg-accent-color);
    font-weight: 500;
    cursor: pointer;
    text-align: left;
  }

  $exchange_btn_icon_container_size: clamp(15px, 1.4vw + 16px, 27px);
  $exchange_btn_icon_size: 40%;
  span {
    @include flex-row;
    background-color: var(--bg-accent-color);
    height: $exchange_btn_icon_container_size;
    width: $exchange_btn_icon_container_size;
    border-radius: 100%;
    transition: all 0.4s ease-in-out;
    svg {
      height: $exchange_btn_icon_size;
      width: $exchange_btn_icon_size;
      padding-left: 1px;
      transition: all 0.4s ease-in-out;

      path {
        stroke-width: 3px;
        transition: all 0.4s ease-in-out;
        stroke: white;
      }
    }
  }

  &:hover {
    span {
      transform: rotate(180deg) scale(1.1);
    }
  }

  &:active {
    transition: all 0.1s;
    background-color: var(--bg-accent-color);
    h4 {
      color: var(--ff-color);
    }
    span {
      background-color: var(--ff-color);
      svg {
        path {
          stroke: var(--bg-accent-color);
        }
      }
    }
  }
}

//==============================
// Animations
@keyframes fadeIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeInBottom {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeInZoom {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

//==============================
// Inputs
@mixin input-base {
  box-sizing: border-box;
  width: 100%;
  font-family: $ff-base;
  border: none;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0rem 1rem;
  padding-right: clmp(2.9rem, 3.5rem);
  font-size: clmp(0.8rem, 0.9rem);
  font-weight: 500;
  position: relative;
  transition: 0.2s ease-in-out;
  text-overflow: ellipsis;
  &::placeholder {
    font-weight: 600;
  }

  &:focus {
    outline: 2px solid #ffffff21;
  }

  &:hover {
    background-color: var(--bg-input-color-hover);
  }

  color: #d6d6d6;
  outline: 1px solid #ffffff11;
  background-color: var(--bg-input-color);
  &::placeholder {
    color: #474747;
  }

  [data-theme='light'] & {
    color: #333;
    outline: 1px solid #00000011;
    background-color: #f5f5f5;
    &::placeholder {
      color: #aaa;
    }

    &:focus {
      outline: 2px solid #00000021;
    }

    &:hover {
      background-color: #eaeaea;
    }
  }
}

@mixin input-error-message {
  position: absolute;
  top: -78%;
  right: 0;
  font-size: clmp(0.8rem, 0.9rem);
  color: #e74c3c;
  display: block;
  animation: fadeIn 0.3s ease-in-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-4px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
